.app {
    display: flex;
    justify-content: center;

    // width: 3500px;
    // height: 2600px;
    // border: 1px solid;
}

.content-wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: min-content min-content min-content min-content;
    grid-gap: 20px;
    justify-items: center;
}

.name-wrapper {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 80%;
    margin-bottom: 60px;
    // margin: 20px 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 4rem;
    margin: 15px;
}

.name-heading {
    font-family: 'Roboto', sans-serif;
}

.square {
    border: 1px solid black;
    width: 20px;
    height: 20px;
}